<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Calculator</h1>

    <form method="POST" class="calc-box">

        <input type="number" name="num1" placeholder="First number" required>

        <select name="op">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>

        <input type="number" name="num2" placeholder="Second number" required>

        <button type="submit">Calculate</button>

    </form>

    <div class="result">
        Result: {{ result }}
    </div>
</div>

</body>
</html>